@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Light.ttf');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Medium.ttf');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}

:root {
	--black: #000000;
	--white: #ffffff;
	--mainColor: #2a65e4;
	--mainColorDark: #1952cc;
	--shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

* {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.02em;
	vertical-align: top;
	font-size: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	
	>html,
	>body {
		margin: 0;
		height: 100vh;
		overflow: hidden;
		
		>.page {
			width: 100vw;
			height: 100vh;
			background-color: var(--black);
			
			>.mediaDisplay {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: transform 0.15s;
				position: relative;
				
				>audio {
					width: calc(100vw - 300px);
				}
				
				>video {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
				
				>img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
					cursor: grab;
					position: absolute;
					top: 0;
					left: 0;
					image-rendering: crisp-edges;
				}
			}
			
			>.menu {
				width: 1365px;
				height: 60px;
				background-color: #1a1a1a;
				border-radius: 5px;
				position: fixed;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				align-items: center;
				justify-content: space-between;
				box-shadow: var(--shadow);
				opacity: 0;
				transition: opacity 0.15s;
				
				>.button {
					width: 60px;
					height: 100%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					
					>svg {
						font-size: 30px;
						color: var(--white);
					}
					
					&:hover {
						background-color: rgba(0, 0, 0, 0.2);
					}
					
					&.previous {
						float: left;
					}
					
					&.next {
						float: right;
					}
					
					&.disabled {
						&:hover {
							background-color: transparent;
						}
					}
				}
				
				>.detail {
					width: auto;
					height: 100%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					box-sizing: border-box;
					
					>.detailLabel {
						font-size: 18px;
						color: var(--mainColor);
						padding-right: 5px;
					}
					
					>.detailValue {
						font-size: 18px;
						color: var(--white);
						
						&.mediaNameDisplay {
							display: inline-block;
							max-width: 20ch;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
				}
				
				>.showButtonHolder {
					width: auto;
					height: 100%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					box-sizing: border-box;
					
					>button {
						width: auto;
						height: auto;
						padding: 10px 12px;
						background-color: var(--mainColor);
						transition: background-color 0.15s;
						border: none;
						font-size: 18px;
						color: var(--white);
						font-weight: 500;
						border-radius: 3px;
						cursor: pointer;
						white-space: nowrap;
						
						&:hover {
							background-color: var(--mainColorDark);
						}
					}
				}
			}
		}
	}
}